.one-movie{
    width: 289px;
    text-align: center;
    color: #e5e5e5;
    box-shadow: 0px 0px 15px #e50914;
    padding: 10px;
}

.one-movie img{
    width: 283px;
    height: 163px;
}

.one-movie button{
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #e50914;
    cursor: pointer;

}

.one-movie h2{
    height: 35px;
}

.one-movie p {
    height: 80px;
}